.see-more {
    cursor: pointer;
}

.sample-sentence tr {
    display: none;
}

.sample-sentence tr:first-child {
    display: block;
}

.sample-sentence-see-all tr{
    display: block;
}

.all-sentences tr {
    text-align: left;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: white;
    color: black;
}

.sidebar-link, .sidebar-link:hover, .sidebar-link:active, .sidebar-link.active {
    color: black;
    padding-left: 0;
}